/*
*  	Screen CSS styles
*  	by Nicki Rios | nicki.rios@gmail.com
*/

/***** header ***************************/
nav {
}
nav li {
}

/***** content **************************/
#mainContent {
}

/***** footer ***************************/
footer {
}

/***** buttons **************************/


/***** typography ***********************/


/***** misc *****************************/
.group:after {/* .group:after by Dan Cederholm - "Handcrafted CSS: More Bulletproof Web Design" */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*:first-child+html .group {/* IE7 hack for .group by Dan Cederholm - "Handcrafted CSS: More Bulletproof Web Design */
    min-height: 1px;
}
img, embed, object, video {
	max-width: 100%;
}

/***** media queries **************************************************************/
@media screen and (min-width: 1200px) {
	nav {
	}
}

@media screen and (min-width: 1024px) {
	nav {
	}
}

@media screen and (min-width: 768px) {
	nav {
	}
}

@media screen and (min-width: 600px) {
	nav {
	}
}

@media screen and (min-width: 480px) {
	nav {
	}
}/*/mediaquery*/

@media screen and (min-width: 320px) {
	nav {
	}
}/*/mediaquery*/

/***** print styles ***************************************************************/
@media print {
}